BasedOnStyle: Mozilla
UseTab: Always
IndentWidth: 4
TabWidth: 4
SortIncludes: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  AfterFunction: true
  AfterClass: true
  SplitEmptyFunction: true
