# Common ignore files
.DS_Store
.vscode
.vs
Build/

# Ignore executables (Linux, macOS, Windows)
/Etterna
*.app
*.exe

# Etterna Related Ignore
Cache/
Logs/
Program/
Save/
Songs/

# Misc Ignores
crashinfo.txt
