Source: etterna
Section: games
Priority: optional
Maintainer: The Etterna Team <etterna@gmaill.com>
Build-Depends: debhelper (>= 9), mesa-common-dev, build-essential, libglu1-mesa-dev, libglew1.5-dev, libxtst-dev, libxrandr-dev, libpng12-dev, libjpeg-dev, zlib1g-dev, libbz2-dev, libogg-dev, libvorbis-dev, libc6-dev, yasm, libasound-dev, libpulse-dev, binutils-dev, libgtk2.0-dev, libudev-dev, libva-dev, git, cmake

Package: etterna
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Etterna is a fork of the
 rhythm game Stepmania, oriented towards
 keyboard spread play.