MACOSX_DEPLOYMENT_TARGET = 10.12
CLANG_CXX_LANGUAGE_STANDARD = gnu++14
CLANG_CXX_LIBRARY = libc++
LIBRARY_SEARCH_PATHS="${SRCROOT}/Xcode/Libraries"
OTHER_LDFLAGS=$(OTHER_LDFLAGS) -pagezero_size 10000 -image_base 100000000
GCC_WARN_INHIBIT_ALL_WARNINGS = YES