name: Etterna CI
on: [push, pull_request]

jobs:
  linux-x64:
    name: Linux x64 (${{matrix.cfg.cpp-version}})
    runs-on: ${{matrix.cfg.os}}
    strategy:
      fail-fast: false
      matrix:
        cfg:
          - { os: ubuntu-18.04, cpp-version: g++-8 }
          - { os: ubuntu-18.04, cpp-version: g++-9 }
          - { os: ubuntu-18.04, cpp-version: clang++-7 }
          - { os: ubuntu-18.04, cpp-version: clang++-8 }
          - { os: ubuntu-18.04, cpp-version: clang++-9 }

    steps:
      - name: Checkout Etterna
        uses: actions/checkout@v2

      - name: Install apt packages
        run: sudo apt update && sudo apt install ${{ matrix.cfg.cpp-version }} nasm ninja-build libglew-dev libxrandr-dev libxtst-dev libpulse-dev libasound-dev libogg-dev libvorbis-dev

      - name: Print gcc + clang version
        run: ${{matrix.cfg.cpp-version}} --version

      - name: Generate CMake
        run: mkdir build && cd build && cmake -G Ninja ..
        env:
          CXX: ${{matrix.cfg.cpp-version}}

      - name: Build Project
        run: cd build && ninja

  macos:
    name: macOS x64
    runs-on: macos-latest
    steps:
      - name: Checkout Etterna
        uses: actions/checkout@v2

      - name: Update Environment Variables
        run: |
          echo "${{github.workspace}}/extern/crashpad/breakpad/mac/" >> $GITHUB_PATH
          echo "ETTERNA_ARCH=x64" >> $GITHUB_ENV

      - name: Install homebrew packages
        run: brew install cmake nasm ninja

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        if: github.ref == 'refs/heads/master'
        with:
          aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          aws-region: us-east-1

      - name: Generate CMake
        run: mkdir build && cd build && cmake -DOPENSSL_ROOT_DIR=/usr/local/opt/openssl -DCMAKE_BUILD_TYPE=RelWithDebInfo -G Ninja ..

      - name: Build Project
        run: cd build && ninja

      - name: Generate Symbols
        run: |
          echo "Running dsymutil..."
          dsymutil -o ${{github.workspace}}/Etterna.dsym Etterna.app/Contents/MacOS/Etterna > /dev/null
          echo "Dumping Symbols..."
          dump_syms -g ${{github.workspace}}/Etterna.dsym Etterna.app/Contents/MacOS/Etterna > ${{github.workspace}}/Etterna.sym
          echo "Stripping debug symbols from binary..."
          strip Etterna.app/Contents/MacOS/Etterna

      - name: Upload Symbols to AWS S3
        if: github.ref == 'refs/heads/master'
        run: ${{github.workspace}}/.ci/upload_symbols.py

      - name: Prepare symbols for upload artifacts
        run: ${{github.workspace}}/.ci/prepare_symbols.py

      - name: Upload Symbols to action artifacts
        uses: actions/upload-artifact@v2
        with:
          name: Etterna Symbols - ${{github.sha}}
          path: '${{github.workspace}}/EtternaSymbolsUploadDir'

      - name: Generate binary
        run: cd build && cpack

      - name: Upload Binary
        uses: actions/upload-artifact@v2
        with:
          name: "Etterna - macOS x64"
          path: '${{github.workspace}}/build/*.dmg'

  windows: # Windows x64 and x86 build matrix
    strategy:
      fail-fast: false # Don't cancel other matrix jobs if one fails
      matrix:
        cfg:
        - { name: i386, arch: Win32, ssl-dir: 'C:\Program Files (x86)\OpenSSL-Win32' }
        - { name: x64,  arch: x64,   ssl-dir: 'C:\Program Files\OpenSSL-Win64'}

    name: "Windows ${{matrix.cfg.name}}"
    runs-on: windows-2019
    steps:
      - name: Checkout Etterna
        uses: actions/checkout@v2
        with:
          path: main

      - name: Checkout DirectX SDK
        uses: actions/checkout@v2
        with:
          repository: nico-abram/dxsdk
          path: dxsdk

      - name: Update Environment Variables
        run: |
          echo "${{github.workspace}}/main/extern/crashpad/breakpad/win/" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          echo "ETTERNA_ARCH=${{matrix.cfg.name}}" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

      - name: Setup Python 2.7
        uses: actions/setup-python@v2
        with:
          python-version: '2.7'

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v1.0.2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        if: github.ref == 'refs/heads/master'
        with:
          aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          aws-region: us-east-1

      - name: Install chocolatey packages (i386)
        if: ${{ matrix.cfg.arch == 'Win32' }}
        run: choco install ninja nsis openssl -y --x86

      - name: Install chocolatey packages (x64)
        if: ${{ matrix.cfg.arch == 'x64' }}
        run: choco install ninja nsis openssl -y

      - name: Generate CMake
        run: mkdir main/build && cd main/build && cmake -G "Visual Studio 16 2019" -A "${{matrix.cfg.arch}}" -DCMAKE_BUILD_TYPE=RelWithDebInfo -DOPENSSL_ROOT_DIR="${{matrix.cfg.ssl-dir}}" ..
        env:
          DXSDK_DIR: "${{github.workspace}}/dxsdk/"

      - name: Build Project
        run: cd main/build && MSBuild Etterna.sln /p:Configuration=RelWithDebInfo /p:Platform=${{matrix.cfg.arch}}

      - name: Setup Python 3
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Generate Symbols
        run: |
          echo "Dumping Symbols..."
          dump_syms.exe main/Program/Etterna.pdb > ${{github.workspace}}/main/Etterna.sym

      - name: Upload Symbols to AWS S3
        if: github.ref == 'refs/heads/master'
        run: cd main && python ${{github.workspace}}/main/.ci/upload_symbols.py

      - name: Prepare symbols for action artifacts
        run: cd main && python ${{github.workspace}}/main/.ci/prepare_symbols.py

      - name: Upload Symbols to action artifacts
        uses: actions/upload-artifact@v2
        with:
          name: Etterna Symbols - ${{github.sha}}
          path: '${{github.workspace}}/main/EtternaSymbolsUploadDir'

      - name: Generate binary
        run: cd main/build && cpack

      - name: Upload Binary
        uses: actions/upload-artifact@v2
        with:
          name: "Etterna - Windows ${{matrix.cfg.name}}"
          path: '${{github.workspace}}/main/build/*.exe'
