name: Coverity Scan Submission

# Only run this workflow when we push on the coverity_scan branch
on:
  push:
    branches:
      - coverity_scan

jobs:
  latest:
    name: Submission Runner
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Etterna
        uses: actions/checkout@v2
        with:
          path: main

      - name: Install apt dependencies
        run: sudo apt update && sudo apt-get install ninja-build nasm libglew-dev libxrandr-dev libxtst-dev libpulse-dev libasound-dev libogg-dev libvorbis-dev libcurl4-openssl-dev

      - name: Download Coverity Build Tool
        run: |
          wget https://scan.coverity.com/download/linux64 --post-data "token=${{secrets.COVERITY_SCAN_TOKEN}}&project=etternagame%2Fetterna" -O cov-analysis-linux64.tar.gz
          mkdir cov-analysis-linux64
          tar xzf cov-analysis-linux64.tar.gz --strip 1 -C cov-analysis-linux64

      - name: Generate CMake
        run: mkdir main/build && cd main/build && cmake -G Ninja ..

      - name: Build with Coverity Build Tool
        run: |
          export PATH=`pwd`/cov-analysis-linux64/bin:$PATH
          cd main/build && cov-build --dir cov-int ninja

      - name: Submit the result to Coverity Scan
        run: |
          cd main/build
          tar czvf etterna.tgz cov-int
          curl \
            --form token=$TOKEN \
            --form email=etternadev@gmail.com \
            --form file=@etterna.tgz \
            --form description="Advanced cross-platform rhythm game focused on keyboard play" \
            https://scan.coverity.com/builds?project=etternagame%2Fetterna
        env:
          TOKEN: ${{ secrets.COVERITY_SCAN_TOKEN }}
