# Workflow for building and deploying Etterna documentation
name: Etterna documentation CI

on:
  # Runs on pushes to develop
  push:
    branches: ["develop"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  #Build job
  build:
    runs-on: ubuntu-latest
    steps:
      # Setup
      - name: Checkout
        uses: actions/checkout@v3
      # Doxygen build
      - name: Generate Doxygen output folder
        run: "mkdir doxygen"
      - name: Build Doxygen
        uses: mattnotmitt/doxygen-action@v1.9.5
        with:
            working-directory: "doxygen"
            doxyfile-path: ../Docs/Doxyfile
      - name: Copy doxygen generated html to Docs
        run: "cp -r ./doxygen ./Docs/"
      #Jekyll build
      - name: Setup Pages
        uses: actions/configure-pages@v2
      - name: Build with Jekyll
        uses: actions/jekyll-build-pages@v1
        with:
          source: ./Docs/
          destination: ./_site
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
